/*
BLABLABRA style sheet
*/

* {
	border: 0 none;
}
	
#container {
	background: url('gradient-bg.png') repeat-x top left;
	background-color: rgb(255,216,0);
	margin: 0;
	border: none;
	padding: 0;
}

#header {
	background: url('header-bg.png') no-repeat top center;
	background-color: rgb(255,216,0);
	border: none;
	height: 128px;
	text-align: left;
	margin: 0;
	padding: 0;
}
	
#header_img{
	margin-left: 50%;
	position: relative;
	left: -385px;
}

#search{
	background: url('search-bg.png') no-repeat top center;
	border: none;
	height: 117px;
	margin: 0;
	padding: 0;
}

#search_form{
	padding: 25px 0 0 20px;
	width: 751px;
	height: 92px;
	text-align: left;
	margin: 0px auto;
}

#frontpage_highlight {
	padding: 10px 20px;
	margin: 0px auto 10px;
	width: 730px;
	font-weight: bold;
}

#txt_holder {
	float: left;
	background-color: #FFF;
	border: 1px solid #AAAAAA;
	color: #999;
	width: 260px;
	height: 23px;
	margin-right: 10px;
	position: relative;
	top: 4px;
}

.txt_search {
	background: none;
	border: none;
	color: #000000;
	margin-top: 2px;
	margin-left: 4px;
	width: 240px;
	color: #999;
}

.btn_submit {
	width:115px;
	height:32px;
	border:0;
	cursor:pointer;
	background:url('btn-pesquisar.png') no-repeat;
}

#middle {
	background: url('middle-bg.png') no-repeat top center;
	background-color: rgb(255,216,0);
	margin: 0;
	border: none;
	padding: 0;
}
	
#main {
	border: none;
	width: 770px;
	text-align: left;
	margin: 0px auto;
	padding: 0;
	background-color: #FFF;	
}

#notice_msg {
	border: 1px solid #F00;
	width: 730px;
	text-align: left;
	margin: 0 10px;
	padding: 10px;
	background-color: #EEE;
	font-size: 11px;
	line-height: 1.1em;
}

.bigboxtop {
	background: url('bigboxtop.png') no-repeat 0 0;
	width: 530px;
	height: 10px;
	float: left;
	margin: 5px 0 0 10px;
	font-size: 0;
}

.bigbox {
	background: url('bigboxmiddle.png') repeat-y 0 0;
	width: 510px;
	*width: 530px;
	_width: 530px;
	padding: 0 10px;
	float: left;
	margin-left: 10px;
}

.bigboxbottom {
	background: url('bigboxbottom.png') no-repeat 0 0;
	width: 530px;
	height: 16px;
	float: left;
	margin: 0 0 5px 10px;
}

.toplinkbox {
	overflow: hidden;
	margin: 0px auto;
	padding: 10px 5px;
	width: 240px;
	*width: 250px;
	_width: 250px;
	float: right;
	font-size: 12px;
}

.toplinkbox-wide {
	overflow: hidden;
	margin: 0px auto;
	padding: 10px;
	width: 490px;
	*width: 510px;
	_width: 510px;
	float: right;
	font-size: 12px;
}

#main_stats {
	background-color: #77C6FF;
	border: none;
	padding: 0 2%;
	width: 90%;
	text-align: left;
	float:left;
}

#main_stats p{
	margin-bottom: 15px;
}

#main_stats h1{
	margin-top: 0;
}

#sidebar-ico {
	float: left;
	padding-right: 7px;
}

#sidebar {
	float: right;
	width: 213px;
	padding: 0 5px 0 0;
}

.box-top {
	background: url('boxtop.png') no-repeat 0 0;
	width: 207px;
	height: 10px;
	margin: 5px 0 0;
	font-size: 0;
}

.box {
	background: url('boxmiddle.png') repeat-y 0 0;
	overflow: hidden;
	width: 187px;
	*width: 212px;
	_width: 212px;
	padding: 0 5px 0 15px;
	margin: 0;
	*padding-right: 10px;
}

.box-bottom {
	background: url('boxbottom.png') no-repeat 0 0;
	width: 207px;
	height: 16px;
	margin: 0 0 5px;
}
	
#content {
	width: 510px;
	padding: 10px 18px;
}

#content_centered {
	clear: both;
	margin: 0px auto;
	padding: 20px;
	width: 700px;
}

.tweet {
	width: 98%;
	padding: 10px 20px 10px 0;
	min-height: 48px;
	*height: 48px; /* IE 7 hack */
	_height: 48px; /* IE 6 hack  */
	text-align: left;
}

.tweet p {
	margin: 0 0 0 0;
}

.avatar_img {
	float: left;
	margin-right: 10px;
}

#pagination {
	text-align: right;
	margin: 15px auto;
}

#footer {
	background-color: #F5F5F5;
	clear: both;
	width: 740px;
	margin: 0 auto;
	text-align: left;
	padding: 15px;
	font-size: 12px;
}

#footer-image {
	background-color: #FFD800;
	height: 90px;
	padding-top: 15px;
}
	
#footer a{
	color: #000099;
}

#footer a:visited {
	color: #6A6A78;
}

.textblock {
	background-color: #FFF;
	margin-bottom: 20px;
	width: 95%;
	padding: 2%;
	line-height: 1.4em;
	text-align: left;
}

.graph {
	margin: 30px auto;
}

.graph_top {
	margin: 0px auto 20px;
}

.textblock img{
	display: block;
	margin: 0px auto;
}

.first_line {
	color: #888;
	font-weight: bold;
	background-color: #DDD;
}

.graycell {
	background-color: #888;
	color: #FFF;
}

.calendar table, .calendar tr, .calendar td {
	font-size: 9px;
	padding: 5px;
}

.cellcolor0 {
	background-color: #FFF;
}

.cellcolor1 {
	background-color: #FFEEE5;
}

.cellcolor2, .cellcolor3 {
	background-color: #FFD8BF;
}

.cellcolor4, .cellcolor5 {
	background-color: #FFB07F;
}

.cellcolor6, .cellcolor7 {
	background-color: #FF853F;
}

.cellcolor8, .cellcolor9, .cellcolor10 {
	background-color: #FF5900;
}

.legend {
	margin-bottom: 10px;
}

.legend td {
	font-size: 8px;
	padding: 5px;	
}

.tweetthis {
	text-align: right;
	font-size: 10px;
	padding-top: 10px;
	margin: 0 5px 0 0;
}

#sidebar .tweetthis {
	font-size: 9px;
}

html {
	background-color: #FFF; 
	height: 100%;
}
body {
	font-family: 'Lucida Grande', Arial, Sans-Serif;
	font-size: 12.5px;
	line-height: 1.4em;
	margin: 0;
	text-align: center;
}

p {
	margin: 0;
	padding: 0.3em 0;
}

#content_centered p {
	margin: 0 0 15px 0;
	padding: 0.3em 0;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 20px;
	line-height: 1.2em;
	margin: 0;
}

#content h1 {
	margin-top: 0px;
}

#content_centered h1 {
	margin: 10px 0;
}

h2 {
	font-size: 17px;
	line-height: 1.2em;
	padding: 10px 0 10px;
	margin: 0;
	color: #464646;
}

h2.first {
	padding: 0 0 10px;
}

.textblock h2 {
	margin-top: 30px;
}

h2 small{
	text-decoration: none;
	font-size: 10px;
}

h3 {
	font-size: 13px;
	line-height: 1.2em;
	padding: 0 0 10px 0;
	margin: 0;
	color: #464646;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	line-height: 1.1em;
}
li {
	margin-bottom: 9px;
}

small {
	color: #888888;
}

.footnote {
	padding-left: 20px;
	padding-right: 5px;
}

.errormessage {
	color: #888888;
}

form {
	margin: 0;
}

#container table {
	border-collapse: collapse;
	font-size: 11px;
	text-align: center;
	border: 1px solid #888;
	padding: 7px;
	margin: 0px;
}